.blog-post {
  max-width: 50rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post__back {
  margin-bottom: 0.5rem;
}

.blog-post__title {
}

.blog-post__content {
  align-self: center;
  max-width: 100%;
}
